<div class="show-header-links-container">
  <%= link "Back", to: bookmark_path(@conn, :index) %>
  <%= link "Edit", to: bookmark_path(@conn, :edit, @bookmark) %>
</div>
<h2><%= @bookmark.title %></h2>

<ul>
  <li>
    <strong>Url:</strong>
    <a href="<%= @bookmark.url %>"><%= @bookmark.url %></a>
  </li>
  
  <%= if @bookmark.description != nil do %>
    <li>
      <strong>Description:</strong>
      <%= @bookmark.description %>
    </li>
  <% end %>

</ul>
