<%= link "Back", to: bookmark_tag_path(@conn, :show, @bookmark_tag) %>

<h2>Edit bookmark tag</h2>

<%= render "form.html", changeset: @changeset,
                        action: bookmark_tag_path(@conn, :update, @bookmark_tag), bookmarks: @bookmarks, tags: @tags %>
